@import '../../styles/variables';

.reading-list-container {
  background-color: $gray10;

  h2 {
    background-color: $gray80;
    color: $white;
    position: relative;
    padding: 0.75rem;
  }
}
.reading-list-count {
  background-color: $white;
  border-radius: 50%;
  color: $gray80;
  font-size: .80em;
  font-weight: bold;
  padding: .2em;
  height: 34px;
  width: 34px;
}

.reading-list-content {
  padding: $spacing-xxs;
  margin-left: 0;
  margin-top: 0;
  list-style-type: none;
}
.reading-list-item {
  border-bottom: 1px solid $gray20;
  padding: $spacing-xxs;

  .btn-remove-favorite {
    height: 32px;
    width: 32px;
  }
}

@media (min-width: 992px) {
  .reading-list-container {
    position: fixed;
    //min-height: calc(100vh - #{$header-height} - .5rem);
    height: 100%;
    left: 72%;
    width: 28%;
    bottom: 0;
    top: $header-height;
  }
  .reading-list-content {
    max-height: 80%;
    overflow: auto;
  }
}